<!doctype html>
<html class="js" lang="en" dir="ltr">
<!--<![endif]-->
<head>

    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Canonical" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="refresh"
    content="0; url=https://docs.vanillaframework.io/">

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=8"><![endif]-->

    <title>{{ page.title }}</title>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://assets.ubuntu.com/v1/vanilla-framework-version-1.0.0.min.css" />

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic%7CUbuntu+Mono' rel='stylesheet' type='text/css' />
</head>

<body>

    {{ content }}

</body>
</html>
